button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color:black;
    background-color: lightgray; 
}



.btn-default {
    color: #000;
    font-size: medium;
}

body {
    background-image: url(../images/holiday-bgd.jpg);	
    font-family: 'Bad Script', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}